# ENV
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenv
venv/
.venv/
env/

# Logs
*.log

# SQLite
*.db
*.sqlite3
*.db-wal
*.db-shm
*.db-journal

# Coverage
.coverage
.coverage.*
htmlcov/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build / temp
dist/
build/
*.tmp

# arquivo base
maracana-bot.py
teste.py